.colors {
  color: #000000;
  color: #1D2B53;
  color: #7E2553;
  color: #008751;
  color: #AB5236;
  color: #5F574F;
  color: #C2C3C7;
  color: #FFF1E8;
  color: #FF004D;
  color: #FFA300;
  color: #FFEC27;
  color: #00E436;
  color: #29ADFF;
  color: #83769C;
  color: #FF77A8;
  color: #FFCCAA;
    
  color: #291814;
  color: #111d35;
  color: #422136;
  color: #125359;
  color: #742f29;
  color: #49333b;
  color: #a28879;
  color: #f3ef7d;
  color: #be1250;
  color: #ff6c24;
  color: #a8e72e;
  color: #00b543;
  color: #065ab5;
  color: #754665;
  color: #ff6e59;
  color: #ff9d81;
    
  color: #00ffff;
  color: #5fcde4;
  color: #e4bb40;
  color: #8a6f30;
  color: #4b692f;
  color: #45107e;
  color: #847e87;
  color: #696a6a;
  color: #ff00ff;
  color: #9c09cc;
  color: #9badb7;
  color: #3f3f74;
  color: #37946e;
  color: #323c39;
  color: #8f974a;
  color: #524b24;
  color: #ff0000;
  color: #d95763;
  color: #ffffff;
  color: #cbdbfc;
}